.App {
  text-align: center;
 
}

@media screen and (max-width: 480px){
  .App {
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px){
  .search-input {
    display: flex;
    flex-direction: column;   
  }
  .search-input select {
     width: 50%;
     margin: 8px;
  }
}