/* sidebar component css  */
@media screen and  (min-width: 320px) and (max-width: 480px){
    .sidebar {
        max-width: 100%;       
    }
}

.fp-update label {
    width: 90px;
}

/* dashboard home css  */
@media screen  and (max-width: 768px){
    .d-home {      
        max-width: 100%;  
        margin: auto;            
    
    }
    .d-home .col-md-3 {      
        padding: 0;  
    }
}
@media screen and (max-width: 480px){
    .member-add {      
        max-width: 100%;
         
    }
}

@media (min-width: 1025px) and (max-width: 1280px){
    .make-admin {      
        max-width: 80%;
       
       
    }
}
@media screen and (max-width: 480px){
    .make-admin {      
        max-width: 100%;      
    }
}
@media screen and (max-width: 768px){
    .add-amount {      
        max-width: 100%;      
    }
}
@media screen and (max-width: 768px){
    .user-info {      
        max-width: 100%;      
    }
}
@media screen and (max-width: 480px){
    .expense-amount {      
        max-width: 100%;      
    }
}
@media screen and (max-width: 480px){
    .amount-correction {      
        max-width: 100%;      
    }
}
@media screen and (max-width: 768px){
    .fp-update {      
        max-width: 100%;      
    }
}


